.registrationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 4px 4px 8px rgba(110, 110, 110, 0.5), -4px -4px 8px rgba(162, 162, 162, 0.5);
    border-radius: 12px;
    background-color: white;
}

.formLabel {
    display: block;
    width: 96%;
    margin-bottom: 4px;
    margin-top: 8px;
}

.formInput {
    width: 96%;
    padding: 8px;
    margin-bottom: 4px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
}

.error {
    color: orangered;
    font-size: 16px;
    margin-bottom: 4px;
    width: 96%;
}

.formButton {
    margin-top: 16px;
    width: 60%;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 600;
    transition: text-decoration 0.4s ease, color 0.4s ease;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .registration {
        width: 80%;
    }
}