.contactFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 0;
}

.card {
    width: 100%;
    border: 1px solid black;
    box-shadow: 4px 4px 8px #6e6e6e, -4px -4px 8px #a2a2a2;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    background-color: white;
}

.label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

.input {
    width: 96%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
}

.formButton {
    margin-top: 16px;
    width: 60%;
    color: black;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 600;
    transition: text-decoration 0.4s ease, color 0.4s ease;
    margin-top: 12px;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .contactForm {
        width: 80%;
    }
}