.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 12px auto;
    padding-top: 20px;
}

.card {
    width: 100%;
    border: 1px solid black;
    box-shadow: 4px 4px 8px #6e6e6e, -4px -4px 8px #a2a2a2;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
}

.label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    padding-left: 12px;
}

.input {
    width: 90%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
}

.error {
    display: flex;
    justify-content: left;
    color: orangered;
    font-size: 16px;
    padding-left: 12px;
    margin-bottom: 4px;
}

.button {
    font-weight: 600;
}

@media (max-width: 480px) {
    .card{
        width: 80%;
    }
}