.contactForm {
    width: 350px;
    justify-content: left;
    align-items: center;
    margin-bottom: 16px;
    margin: 80px auto 20px auto;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    padding-left: 8px;
}

.input {
    width: 90%;
    padding: 8px;
    margin-bottom: 4px;
}

.error {
    display: flex;
    justify-content: left;
    color: orangered;
    font-size: 12px;
    padding-left: 4px;
    margin-bottom: 4px;
}

