.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    height: 80px;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 0 12px;
    font-weight: 600;
    transition: text-decoration 0.4s ease, color 0.4s ease;
}

.link:hover {
    text-decoration: underline;
    color: #1d2528;
}

.activeLink{
    text-decoration: underline;
    color: #1d2528;
}