:root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;

  --primary-color: #7d7c7f;
  --secondary-color: #4caf50;
  --accent-color: #ff9800;
  --text-dark: #333;
  --text-light: #555;
  --text-white: #fff;
      
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button {
  background-color: #e8e3e3;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  outline: 1px solid var(--primary-color);
  box-shadow: 0 0 2px var(--primary-color);
  border-radius: 10px;
}

button:hover {
  outline: 2px solid var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
  border-radius: 10px;
}

button:active {
  background-color: #668297;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

